*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'ubuntu';

}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(rgb(242, 142, 255),rgb(255, 160, 160));

}

div{
    position: absolute;
    bottom: 5rem; 
    background-color: rgba(255, 255, 255, .5);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    backdrop-filter: blur(15rem);
}

input{
    color: #fff;
    width: 13rem;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    outline: none;
    background-color: transparent;
    border: none;
    border: .1rem solid #fff;
}

div label{
    color: #fff;
}

h1{
    text-transform: capitalize;
    color: #fff;
    border-right: .2rem solid #fff;
    padding-right: .2rem;
    
}
