* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 62.5%;
  }

  body {

    background-color: #efedd6;
    font-family: "ubuntu";
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

  }

  h1{
      margin: 1rem;
  }



  .box{
      background-color: steelblue;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40rem;
      height: 20rem;
      margin: 1rem;
      border-radius: 1rem;
      box-shadow: .2rem .4rem .5rem rgba(0,0,0,0.3);
      transform: translateX(100%);
      opacity: 0;
      transition: all .5s ease;
  }



  .box:nth-of-type(even){
      transform: translateX(-100%);
  }

  .box.show{

      transform: translateX(0);
      opacity: 1;
  }
  

  .box h2{
      font-size: 2.5rem;
  }

